.profile-container {
    width: 100%;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
    color: var(--ghost-white);
    border-left: 1px solid #2a2a2a;
    border-right: 1px solid #2a2a2a;
}

/* CAPA */

.profile-cover {
    height: 220px;
    background: radial-gradient(circle at top, #1a1a1a, #0f0f0f);
    border-bottom: 1px solid #2a2a2a;
}

/* HEADER */

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

/* FOTO */

.profile-image {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--onyx);
}

.profile-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;

    font-size: 40px;

    border-radius: 50%;
    background: #2a2a2a;
    border: 4px solid var(--onyx);
}

/* INFO */

.profile-info h1 {
    margin: 0;
    font-size: 36px;
}

.profile-meta {
    margin-top: 10px;
    margin-bottom: 0;
    color: #aaa;
    font-size: 14px;
}

.profile-meta p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* LOGOUT */

.logout-button {
    margin-left: auto;
    background: #e63946;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    color: var(--ghost-white);
    cursor: pointer;
    transition: 0.2s;
    align-self: flex-start;
    font: inherit;
    font-weight: 600;
    font-size: 16px;
}

.logout-button:hover {
    background: rgb(191, 62, 73);
}

/* TABS */

.profile-tabs {
    display: flex;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
}

.profile-tabs button {
    flex: 1;
    padding: 16px;
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    transition: 0.2s;
    font: inherit;
    font-weight: 700;
}

.profile-tabs button:hover {
    background: #1a1a1a;
}

.profile-tabs button.active {
    color: var(--oxblood);
}

/* CONTENT */

.profile-content {
    padding: 20px;
}

/* ABOUT */

.band-description {
    color: #ccc;
    line-height: 1.6;
    white-space: pre-wrap;
}

/* MEMBERS */

.members-tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member-card {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background: var(--onyx);
    border-radius: 6px;
}

.member-name {
    font-weight: 500;
}

.member-instrument {
    color: #aaa;
}

/* EMPTY */

.empty-tab {
    color: #777;
}