nav {
    display: flex;
    background-color: #26262c;
    padding: 13px 100px;
    position: relative;
    border-bottom: 1px solid #53535f;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo img {
    max-height: 80px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: var(--ghost-white);
    font-weight: bold;
    transition: 0.2s ease;
    text-transform: uppercase;
}

nav a:hover {
    cursor: pointer;
    color: var(--maroon);
}

.active {
    color: var(--maroon);
}