nav {
    display: flex;
    background-color: var(--onyx);
    padding: 13px 150px;
    position: relative;
    border-bottom: 1px solid #2a2a2a;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo img {
    max-height: 80px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: var(--ghost-white);
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s ease;
}

nav a:hover {
    color: var(--oxblood);
}

/* ACTIVE PADRÃO (links) */
.active {
    color: var(--oxblood);
    text-decoration: underline 3px;
    text-underline-offset: 10px !important;
    text-decoration-thickness: 4px !important;
}

/* botão navbar */
.nav-button {
    background: none;
    border: none;
    color: var(--ghost-white);
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0;
}

.nav-button.active {
    color: var(--oxblood);
    text-decoration: underline 3px;
    text-underline-offset: 10px !important;
    text-decoration-thickness: 4px !important;
}

.nav-button:hover {
    color: var(--oxblood);
}

/* overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* modal */
.modal {
    position: relative;
    background: var(--onyx);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #2a2a2a;
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* botão X */
.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.close-icon:hover {
    color: var(--ghost-white);
}

.modal h2 {
    margin-bottom: 20px;
}

/* botões */
.modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* botão estilo card */
.modal-buttons button {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 1px solid #2a2a2a;
    border-radius: 10px;

    background: #1e1e1e;
    color: var(--ghost-white);

    cursor: pointer;
    transition: 0.2s ease;
}

.modal-buttons button:hover {
    background: var(--oxblood);
    transform: translateY(-3px);
}

.modal-buttons span {
    font-weight: bold;
    text-transform: uppercase;
}