:root {
    --dark-grey: #131316;
    --light-grey: #717384;
    --ghost-white: #FBFBFF;
    --maroon: #840D0B;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--dark-grey);
    color: var(--ghost-white);
    margin: 0;
    padding: 0;
}