.header {
    display: flex;
    background-color: #26262c;
    padding: 13px 150px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    font-size: 14px;
}

.header-buttons h3:hover{
    cursor: pointer;
    color: var(--maroon);
}