.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--onyx);
    box-shadow: 0 0 3px #222226;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

.form-card h1 {
    color: #ff1a1a;
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select,
textarea {
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    padding: 12px;
    color: var(--ghost-white);
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;
    flex: 1;
    border-radius: 5px;
}

textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid #ff4d4d;
}

.add-member-button {
    margin-top: 10px;
    padding: 12px;
    background-color: #660000;
    border: 1px solid #660000;
    color: var(--ghost-white);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;
}

.member-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.remove-btn {
    font-size: 12px;
    padding: 8px 12px;
    background-color: #660000;
    border: 1px solid #660000;
    color: var(--ghost-white);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;
}

.add-member-button:hover,
.remove-btn:hover {
    background-color: #870101;
}

.cadastrar-button {
    background-color: var(--oxblood);
    border: none;
    color: var(--ghost-white);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

.cadastrar-button:hover {
    background-color: #b02a28;
}

@media (max-width: 600px) {
    .form-card {
        padding: 25px;
    }

    .form-card h1 {
        font-size: 26px;
    }

    .member-group {
        flex-direction: column;
        align-items: stretch;
    }

    .cadastrar-button {
        width: 100%;
    }
}